SECRET_KEY=cambiar_en_produccion
AD_SERVER=192.168.0.X
AD_PORT=389
AD_DOMAIN=DOMINIO
AD_BASE_DN=dc=dominio,dc=local
HORA_INICIO=8
HORA_FIN=18
DATABASE_PATH=stock.db
AD_GRUPO_ADMIN=Domain Admins,Administrators
AD_GRUPO_OPERADOR=
AD_GRUPO_CONSULTA=
FLASK_DEBUG=True
FLASK_PORT=5000
